/* .ss { */
    /* display: flex;
} */
.productContainer {
    width: 750px;
    height: 140px;
    border: 1px solid;
    display: flex;
    align-items: center;
}
.productContainer img{
    width: 135px;
    height: 135px;
}
.infoContainer {
    margin-left: 30px;
}
.infoContainer h1{
    font-size: 20px;
}